node_modules/
.DS_Store
dist/
dist-ssr/
*.local
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.dd
*.E01
*.vmdk
*.raw
*.bin
*.log
.vscode/
.idea/
.gemini/

# project specific
ref/
backend/uploads